<section data-ng-controller="HomeController">

    <div class="row">
        <div class="col-md-4">
            <section data-ng-controller="AppointmentsController" data-ng-init="find()">
                <div class="page-header">
                    <h2><strong>T</strong>ermine/Aktuelles</h2>
                </div>
                <div class="list-group">
                    <a data-ng-repeat="appointment in appointments|filter:isInFuture|limitTo:4" data-ng-href="/#!/appointments/{{appointment._id}}" class="list-group-item">
                        <h4 class="list-group-item-heading" data-ng-bind="appointment.name"></h4>
                        <h5 class="list-group-item-heading" data-ng-bind="appointment.description"></h5>
                        <h5 class="list-group-item-heading" data-ng-bind="appointment.location"></h5>
                        <h5 class="list-group-item-heading" data-ng-bind="appointment.date | date:'dd.MM.yyyy' "></h5>
                    </a>
                </div>
            </section>

        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h2><strong>W</strong>eitere Informationen</h2>
            </div>

        </div>
    </div>
</section>
