<section data-ng-controller="PicturesController" data-ng-init="findOne()">
    <div class="page-header">
        <vn-first-char-strong input-text="Bild bearbeiten"></vn-first-char-strong>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()">
            <fieldset>
                <div class="form-group">

                    <img class="img-rounded" data-ng-src={{getSourceBySize('square',picture)}}>
                    <br />
                    <!-- NAME of the picture-->
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="picture.name" id="name" class="form-control"
                               placeholder="Name"
                               required>
                    </div>
                    <!-- Description of the picture-->
                    <label class="control-label" for="description">Beschreibung</label>

                    <div class="controls">
                        <textarea rows="3" data-ng-model="picture.description" id="description" class="form-control"
                                  placeholder="Description" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>


                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>

</section>
