<section data-ng-controller="PicturesController" data-ng-init="find()">
    <div class="page-header">
        <h2><strong>B</strong>ilder</h2>
    </div>

    <div class="list-group">
        <div data-ng-repeat="picture in pictures" class="list-group-item">

            <div class="media">
                <a class="pull-left" data-ng-href="{{picture.linkToHost}}" target="_blank">
                    <img class="media-object img-rounded" data-ng-src={{getSourceBySize('Square',picture)}}>
                </a>

                <h4 class="media-heading" data-ng-bind="picture.name">Media heading</h4>
                <h5 data-ng-bind="picture.description"></h5>

            </div>


            <div class="pull-right" data-ng-show="authentication.user.roles.indexOf('admin') > -1">
                <a class="btn btn-primary" href="/#!/pictures/{{picture._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" data-ng-click="remove(picture);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>

            <br/>

            <small class="list-group-item-text">
                <span data-ng-bind="picture.user.displayName"></span>:
                <span data-ng-bind="picture.created | date:'dd.MM.yyyy - HH:mm'"></span>
            </small>
        </div>
    </div>


</section>
