<section data-ng-controller="PicturesController" data-ng-init="find()">
    <div class="page-header">
        <h2><strong>B</strong>ilder</h2>
    </div>

    <div class="list-group">
        <div data-ng-repeat="picture in pictures" class="list-group-item">

            <div class="media">
                <a class="pull-left">
                    <img class="media-object img-rounded" data-ng-src={{getSourceBySize('square',picture)}}>
                </a>
                <h4 class="media-heading" data-ng-bind="picture.name"></h4>
                <h5 data-ng-bind="picture.description"></h5>
            </div>


            <div class="pull-right" data-ng-show="authentication.user.roles.indexOf('admin') > -1">
                <a class="btn btn-primary" href="/#!/pictures/{{picture._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" data-ng-click="remove(picture);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
            <br/>

            <small class="list-group-item-text">
                Das Bild wurde am
                <span data-ng-bind="picture.created | date:'dd.MM.yyyy'"></span>
                um
                <span data-ng-bind="picture.created | date:'HH:mm'"></span>
                Uhr von
                <span data-ng-bind="picture.user.displayName"></span>
                erstellt.
            </small>
        </div>
    </div>

    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!pictures.$resolved || pictures.length">
        Es ist noch kein Bild vorhanden -  <a href="/#!/pictures/create">Bild anlegen</a>?
    </div>

</section>
