<section data-ng-controller="BiographiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Biographies</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="biography in biographies" data-ng-href="/#!/biographies/{{biography._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="biography.created | date:'medium'"></span>
				by
				<span data-ng-bind="biography.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="biography.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!biographies.$resolved || biographies.length">
    	No Biographies yet, why don't you <a href="/#!/biographies/create">create one</a>?
    </div>
</section>
