<section data-ng-controller="BiographiesController" data-ng-init="find()">
    <div class="page-header">
        <vn-first-char-strong input-text="Liste der Biografien"></vn-first-char-strong>
    </div>
    <div class="list-group">
        <a data-ng-repeat="biography in biographies" data-ng-href="/#!/biographies/{{biography._id}}"
           class="list-group-item">
            <small>
                Zuletzt ge&auml;ndert von
                <span data-ng-bind="biography.user.displayName"></span>
                am
                <span data-ng-bind="biography.changed | date:'dd.MM.yyyy'"></span>
                um
                <span data-ng-bind="biography.changed | date:'HH:mm'"></span>
                Uhr

            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!biographies.$resolved || biographies.length">
        Es ist noch keine Biografie vorhanden: <a href="/#!/biographies/create">Biografie anlegen</a>?
    </div>
</section>
