<section data-ng-controller="VideosController" data-ng-init="find()">

    <div data-ng-show="!videos.$resolved || videos.length">
        <br/>

        <div class="row">
            <div class="col-md-12">
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            data-ng-src="{{videos[videoIframe.current].source | trusted}}"></iframe>
                </div>
            </div>
        </div>

        <div class="list-group">
            <div class="list-group-item vn-box-shadow">
                <h3 class="vn-no-margin"><strong>{{videos[videoIframe.current].name}}</strong><br/>
                    <small> {{videos[videoIframe.current].description}}</small>
                </h3>
            </div>
        </div>

        <div class="row">
            <div data-ng-repeat="video in videos">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail vn-no-border vn-href-hash">
                        <div class="media" data-ng-click="videoIframe.set($index)">
                            <div class="pull-left">
                                <img class="media-object img-rounded" data-ng-src={{video.sourceImg}}>
                            </div>
                            <h4 class="media-heading" data-ng-bind="video.name"></h4>
                            <h5>{{ video.description | limitTo: 30 }}{{video.description.length > 30 ? '...' : ''}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-hide="!videos.$resolved || videos.length">
        <vn-first-char-strong input-text="Es ist noch kein Video vorhanden."></vn-first-char-strong>
    </div>

    <div data-ng-show="authentication.user.roles.indexOf('admin') > -1">
        <hr>
        <div class="pull-right">
            <a class="btn btn-primary" href="/#!/videos/list">
                <i class="glyphicon glyphicon-list"></i>
            </a>
            <a class="btn btn-primary" href="/#!/videos/create">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </a>
        </div>
    </div>


</section>
