<section>
    <div class="page-header">
        <h2><strong>I</strong>mpressum</h2>
    </div>

    <div class="row">
        <div class="col-md-12">

            <p>Angaben gem&auml;&szlig; &sect; 5 TMG</p>

            <p>Volker Nakath <br>
                Forchenstrasse<br>
                75449 Wurmberg <br>
            </p>

            <p><strong>Vertreten durch: </strong><br>
                Volker Nakath<br>
            </p>

            <p><strong>Kontakt:</strong> <br>
                E-Mail: <a href='mailto:F_Hummel@gmx.de'>F_Hummel@gmx.de</a></br></p>

            <p><strong>Haftungsau&szlig;chlu&szlig;: </strong><br><br><strong>Haftung f&uuml;r Links</strong><br><br>
                Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einflu&szlig;
                haben. Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte
                der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
                verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft.
                Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
                inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
                Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
                umgehend entfernen.<br><br><strong>Datenschutz</strong><br><br>
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten m&ouml;glich. Soweit
                auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adre&szlig;en)
                erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne
                Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte weitergegeben. <br>
                Wir weisen darauf hin, da&szlig; die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                nicht m&ouml;glich. <br>
                Der Nutzung von im Rahmen der Impre&szlig;umspflicht ver&ouml;ffentlichten Kontaktdaten durch Dritte zur
                &uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit
                ausdr&uuml;cklich widersprochen. Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte
                im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
                <br><br><strong>Google Analytics</strong><br><br>
                Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (''Google''). Google
                Analytics verwendet sog. ''Cookies'', Textdateien, die auf Ihrem Computer gespeichert werden und die
                eine Analyse der Benutzung der Website durch Sie erm&ouml;glicht. Die durch den Cookie erzeugten
                Informationen &uuml;ber Ihre Benutzung diese Website (einschlie&szlig;lich Ihrer IP-Adre&szlig;e) wird an einen
                Server von Google in den USA &uuml;bertragen und dort gespeichert. Google wird diese Informationen
                benutzen, um Ihre Nutzung der Website auszuwerten, um Reports &uuml;ber die Websiteaktivit&auml;ten f&uuml;r die
                Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
                verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an
                Dritte &uuml;bertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag
                von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adre&szlig;e mit anderen Daten der Google in
                Verbindung bringen. Sie k&ouml;nnen die Installation der Cookies durch eine entsprechende Einstellung
                Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, da&szlig; Sie in diesem Fall
                gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website voll umf&auml;nglich nutzen k&ouml;nnen. Durch die
                Nutzung dieser Website erkl&auml;ren Sie sich mit der Bearbeitung der &uuml;ber Sie erhobenen Daten durch
                Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>

        </div>
    </div>


    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="impressum.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="impressum.user.displayName"></span>
        </em>
    </small>
</section>
