/* centered columns styles */
.row-centered {
  text-align:center;
  /* inline-block space fix */
  margin-left: -38px;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;

}
.col-fixed {
  /* custom width */
  width:75px + 10px;
}

.thumbnail {
  border: 0 none;
  box-shadow: 1px 1px 1px #f4f4f4;
  -moz-box-shadow:    1px 1px 1px #f4f4f4;
  -webkit-box-shadow: 1px 1px 1px #f4f4f4;
  padding:5px 5px 10px 5px;
}
.vn-box-shadow {
  border: 0 none;
  box-shadow: 1px 1px 1px #f4f4f4;
  -moz-box-shadow: 1px 1px 1px #f4f4f4;
  -webkit-box-shadow: 1px 1px 1px #f4f4f4;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 5px; }

.vn-no-margin{
  margin: 0px 0px 0px 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.vn-href-hash{
    cursor: pointer;
}

.slick-slide-vn {
  display: block;
  width: 100%;
  position: relative;

  &:after {
    padding-top: 55%;/*55%; /*for containers ratio*/
    display: block;
    content: '';
  }
  &:before {
    content: '';
    display: block;
    height: 100%;
  }

  img {
    //padding-bottom: 50px;
    display: block;
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Set the size of the prev and next buttons */
.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  &:before {
    font-size: 30px;
  }
}


.slick-prev:before, .slick-next:before {
  color: #6e6e6e !important;
}
