.navbar {
  background-image: none; }

/* Main navbar settings here */
.navbar-inverse {
  border-bottom: 1px dashed #000000; }
  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none; }
  .navbar-inverse .navbar-brand:link, .navbar-inverse .navbar-brand:visited {
    color: black; }
  .navbar-inverse .navbar-brand:hover {
    color: #999999; }
  .navbar-inverse .navbar-brand:focus {
    color: black; }
  .navbar-inverse .navbar-brand:active {
    color: #999999; }
  .navbar-inverse .navbar-toggle {
    border-color: black; }
    .navbar-inverse .navbar-toggle:link, .navbar-inverse .navbar-toggle:visited {
      background-color: white; }
    .navbar-inverse .navbar-toggle:hover {
      background-color: #d0d0d0; }
    .navbar-inverse .navbar-toggle:focus {
      background-color: white; }
    .navbar-inverse .navbar-toggle:active {
      background-color: #d0d0d0; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.angular-carousel {
  background-color: #ffffff; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 723px; }

.carousel-control {
  color: #000000; }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    background-repeat: no-repeat; }
